<form class="cus-form" #customerForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="FirstName" #FirstName="ngModel" [(ngModel)]="customerService.selectedCustomer.FirstName" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" name="LastName" #LastName="ngModel" [(ngModel)]="customerService.selectedCustomer.LastName" placeholder="Last Name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
        <input class="form-control" name="Position" #Position="ngModel" [(ngModel)]="customerService.selectedCustomer.Position"
            placeholder="Position">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <input class="form-control" name="Age" #Age="ngModel" [(ngModel)]="customerService.selectedCustomer.Age"
            placeholder="Age">
    </div>
    <div class="form-group col-md-6">
        <input class="form-control" name="Categories" #Categories="ngModel" [(ngModel)]="customerService.selectedCustomer.Categories" placeholder="Categories">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <button type="submit" class="btn btn-lg btn-block btn-info"> <i class="fa fa-floppy-o"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(customerForm)"> <i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div>

</form>