<form class="cus-form" (ngSubmit)="onSubmit(customerForm.value)" #customerForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="FirstName" [(ngModel)]="model.FirstName" #FirstName="ngModel" placeholder="First Name" required>
       <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched"> This is required </div>
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" name="LastName" [(ngModel)]="model.LastName" #LastName="ngModel" placeholder="Last Name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
        <input class="form-control" name="Position" [(ngModel)]="model.Position" #Position="ngModel"
            placeholder="Position">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <input class="form-control" name="Age" [(ngModel)]="model.Age" #Age="ngModel"
            placeholder="Age">
    </div>
    <div class="form-group col-md-6">
        <input class="form-control" name="Categories" [(ngModel)]="model.Categories" #Categories="ngModel" placeholder="Categories">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!customerForm.valid" type="submit" class="btn btn-lg btn-block btn-info"> <i class="fa fa-floppy-o"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="customerForm.reset()"> <i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div>

</form>